<div class="main-content">
    <app-header-content [title]="'Investment'"></app-header-content>
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-12">
                <div class="card">
                    <div class="card-body">
                    <mat-form-field>
                        <mat-label>
                          <mat-icon>search</mat-icon> Chercher</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Mot Clé ...">
                    </mat-form-field>
                    <button 
                            mat-raised-button (click)="redirectAdd()" class="btn btn-dark  mrg">Create Investment</button>
                <div class="mat-elevation-z8">
                    <table class="width" mat-table [dataSource]="dataSource" matSort>
              <!-- montant --------------------------------------------------->
                        <ng-container matColumnDef="montant">
                            <th class="text-primary" mat-header-cell *matHeaderCellDef mat-sort-header> montant </th>
                            <td mat-cell *matCellDef="let row"> {{row.montant}} </td>
                        </ng-container>
               <!-- status --------------------------------------------------->
                        <ng-container matColumnDef="status">
                            <th class="text-primary" mat-header-cell *matHeaderCellDef mat-sort-header> status </th>
                            <td mat-cell *matCellDef="let row"> {{row.status}} </td>
                        </ng-container>
                 <!-- pj --------------------------------------------------->
                        <ng-container matColumnDef="pj">
                            <th class="text-primary" mat-header-cell *matHeaderCellDef mat-sort-header> pj  </th>
                            <td mat-cell *matCellDef="let row"> {{row.pj}} </td>
                        </ng-container>       
             <!-- LES ACTIONS --------------------------------------------------->
                        <ng-container matColumnDef="Actions">
                            <th class="text-primary" mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-chip-list aria-label="Fish selection" >
                                    <button mat-icon-button selected class="btn btn-warning btn-link btn-just-icon mrgleft" (click)="redirectEdit(row)"><mat-icon>edit</mat-icon></button>
                                    <button mat-icon-button selected class="btn btn-danger btn-link  btn-just-icon mrgleft" (click)="deleteInv(row)"><mat-icon>delete</mat-icon></button>
                                    <button mat-icon-button selected class="btn btn-dark btn-link  btn-just-icon mrgleft" (click)="detailInv(row)"><mat-icon>article</mat-icon></button>
                                </mat-chip-list>
                            </td>
                        </ng-container>
  
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                        </tr>
                    </table>
  
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
            </div>
                </div>
        </div>
    </div>
  </div>
  </div>
  