<div class="margin">
    <h1>Investment details</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-primary">id </td>
                <td>{{data.id}}</td>
            </tr>
            <tr>
                <td class="text-primary">montant</td>
                <td>{{data.montant}}</td>
            </tr>
            <tr>
                <td  class="text-primary"  >status  </td ><td >{{data.status}}</td >
            </tr>
            <tr>
                <td  class="text-primary"  >Investment type </td ><td >{{InvType.label}}</td >
            </tr>
            <tr>
                <td class="text-primary"   >pj  </td ><td >{{data.pj}}</td >
            </tr>
            <tr>
                <td  class="text-primary"  >objectifs  </td ><td >{{data.objectifs}}</td >
            </tr>
            <tr>
                <td  class="text-primary"  >observations  </td ><td >{{data.observations}}</td >
            </tr>
            <tr>
                <td  class="text-primary"  >Reference socialReason  </td ><td >{{ref.socialReason}}</td >
            </tr>
        </tbody>
    </table>
    
    
        </div>
    