<app-header-content [title]="'Add an investment'"></app-header-content>
    <form [formGroup]="firstFormGroup">
        <div class="form">
        <div class="form-group">
            <input class="form-control"  formControlName="montant" placeholder="montant" [(ngModel)]="data.montant" name="montant">
        </div>
        <div class="form-group">
            <input class="form-control"  formControlName="objectifs" placeholder="objectifs" [(ngModel)]="data.objectifs" name="objectifs">
        </div>
        <div class="form-group">
            <mat-select class="form-control"  formControlName="InvTypes" placeholder="Select an investment type" [(ngModel)]="selectedValueInv" name="InvTypes">
                <mat-option *ngFor="let rf of InvTypes" [value]="rf">
                {{rf.label}}
                </mat-option>
            </mat-select>
            </div>
        <div class="form-group">
            <input class="form-control"  formControlName="status" placeholder="status" [(ngModel)]="data.status" name="status">
        </div>
        <div class="form-group">
            <input class="form-control"  formControlName="pj" placeholder="pj" [(ngModel)]="data.pj" name="pj">
        </div>
        <div class="form-group">
            <input class="form-control"  formControlName="observations" placeholder="observations" [(ngModel)]="data.observations" name="observations">
        </div>
        <div *ngIf="!referenceType">  
            <div class="form-group">
            <mat-select class="form-control"  formControlName="reference" placeholder="{{selectedValue.socialReason}}" [(ngModel)]="selectedValue" name="reference">
                <mat-option *ngFor="let rf of refSDL" [value]="rf">
                {{rf.socialReason}}
                </mat-option>
            </mat-select>
            </div>
        </div>
        <div *ngIf="referenceType">
            <div class="form-group">
                <mat-select class="form-control"  formControlName="referencedeleg" placeholder="{{selectedValueDeleg.socialReason}}" [(ngModel)]="selectedValueDeleg" name="referencedeleg">
                    <mat-option *ngFor="let rf of refdeleg" [value]="rf">
                    {{rf.socialReason}}
                    </mat-option>
                </mat-select>
                </div>
        </div>  
        </div>  
        <div>
          <button class="btn btn-primary"  (click)="editInv()">Edit</button>
        </div>
      </form>